header{
    background-image:url("guitare.jpg") ;
    width: auto;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: -10px -10px 0 -10px;
    font-weight: bold;
    color: lightgray;
    text-shadow: black 2px 2px;
}
body{
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    display: block;
}
.onglets{
    display: flex;
    justify-content:space-evenly;
    width: auto;
    height: 50px;
    font-size: 30px;
    background-color: brown;
     margin: 0 -10px 0 -10px;
     border: solid rgb(224, 116, 116) 2px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     align-items: center;
}

.onglet1{    
    width:640px;
    height: 45px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
.testback{
    background-color: rgb(131, 33, 33);
    width:340px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.onglet2{    
    width:640px;
    display: flex;
    justify-content: center;
}
.onglet0{
    width: 6px;
}
.active{
    font-weight: bold;
    color: lightgray;   
}
.participe{
    font-weight: bold;
}
.menuD{
display: block;
float: right;
width :19%;
background-color:brown;
height: auto;
margin: auto 20px 0 30px;
border: solid rgb(224, 116, 116) 2px;
border-radius: 20px;
min-height: 450px;
/* padding: 10px 18px 30px 30px; */
color: lightgray;
}
.innerMenu{
    padding-top : 30px;
    padding-left: 12px;
    line-height: 0px;
}
.innerMenu2{
    padding-top : 30px;
    padding-left: 12px;
    font-size: 12px;   
}
input{
    width: 90%;
    border-radius: 4px;
    background-color: lightgray;
}
select{
        width: 90%;
        border-radius: 4px;
        background-color: lightgray;
}
h3{
    text-align: center;
    margin :0px;
    margin-top: 15px;
}
.container{
    width: auto;
    margin-top: 50px;
} 
h2{
    text-align: center;
   
}
.btnConnexion{
    display: flex;
    text-align: center;
}
.btnSpot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.mdpOublie{
    display:flex;
    font-size: 12px;
    margin-top: 20px;
    text-decoration: underline;
}
.mdpOublie:hover{
    cursor:pointer;
}
.btnInscription{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inscrit{

  justify-content: center;
    margin-top: 60px;
   font-size: 14px;
   margin-bottom:30px ;
}
.mail{
    margin-bottom: 10px;
}
.formulaire{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.marge{
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgb(21, 57, 90) 3px 3px;
}
.valider{
display: flex;
justify-content: center;
margin-top: 20px;
}
label{
    font-size: 15px;
    display: flex;   
}
a{
    text-decoration: none;
    color: lightgray;
}
.introConnexion{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 20px;
}
.titreIntro{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.infos{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;
}
.deco{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.CPadresse{
    display: flex;
    margin-top: 10px;
}
.codepostal, .ville{
    display: flex;
   width: 30%;
   margin-right: 2%;
}
.containerForm{
    width:37%;
    background-color: rgb(42, 66, 90);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom,rgb(202, 65, 65) 11%, brown 56%);
    border : 2px solid  rgb(224, 116, 116);
    border-radius: 3px;
    color: lightgray;
}
.containerFormChant{
    width:60%;
    display: flex;
    justify-content: space-evenly;
     margin-top: 1%;
     margin-left: 0%;
     margin-right: 0%;
     background-image: linear-gradient(to bottom,rgb(202, 65, 65) 11%, brown 56%);
     border : 2px solid rgb(224, 116, 116);
     background-color: rgb(42, 66, 90);
     border-radius: 3px;
     margin-bottom: 1%;
     color: lightgray;   
}
.formChant{
    width: 70%;
    margin-top: 2%;
    display: block;
}

.souligne{
    text-decoration: underline;

}

.bodyContainer{
    width:70%;
    margin-left:4%;
    text-align: justify;
}

.submitContainer{
    display: flex;
}

.inputSearch{
    width:100%;
    margin: auto;
    
}

.formUpload{
    display: flex;
    justify-content: center;
     margin-top: 1%;
     margin-left: auto;
     margin-right: auto;
     background-image: linear-gradient(to bottom,rgb(202, 65, 65) 11%, brown 56%);
     border : 2px solid rgb(224, 116, 116);
     background-color: rgb(42, 66, 90);
     border-radius: 3px;
     margin-bottom: 1%;
     color: lightgray; 
     width :60%;
     padding-top: 2%;
}

.formUploadInput{
display: flex;
    width :100%;
}

.formUploadButton{
    display: flex;
    width: 50%;
    align-content: center;
}

.justify{
    text-align: justify;
    width:70%;
    margin-left:4%;
}

.admin{
    color:rgb(235, 228, 241);
    font-size: 22px;


}

.ongletsAdmin{
    background-color: blueviolet;
    height: 10%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.menuDAdmin{

        display: block;
        float: right;
        width :19%;
        background-color : blueviolet;
        height: auto;
        margin: auto 20px 0 30px;
        border: solid rgb(224, 116, 116) 2px;
        border-radius: 20px;
        min-height: 250px;
        /* padding: 10px 18px 30px 30px; */
        color: lightgray;
        }
td, tr{
    border: solid black 1px;
    font-size: 22px;
}
table{
    display: flex;
    justify-content: center;
}

a.black{
    color :black;
}